<!DOCTYPE html>
<html ng-app="promoCodes">

<head>
  <meta charset="utf-8" />
  <title>PromoCodes</title>
  <script>document.write('<base href="' + document.location + '" />');</script>
  <link rel="stylesheet" href="promoCodesStyle.css" />
  <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  
  <script src="promoCodes.js"></script>
</head>

<body ng-controller="promoCodesCtrl">
    <div class="form-row align-items-center">
      <div class="col-10">
        <label class="sr-only" for="inlineFormInput">Name</label>
        <tags-input ng-model="selectedPromoCodes" add-from-autocomplete-only="true" 
                    allow-leftover-text="false" display-property="vanityCode"
                    text="text" ng-blur="text=''" placeholder="Type to add promo codes"
                    on-tag-added="promoCodesChanged()" on-tag-removed="promoCodesChanged()">
          <auto-complete min-length="1" highlight-matched-text="false" 
                         source="searchCodes($query)"></auto-complete>
        </tags-input>
      </div>    
      <div class="col-2" style="margin-top: 10px">
        <button class="btn btn-primary mb-2" ng-click="saveCodes()">Save</button>
      </div>
    </div>
</body>

</html>